development.env
app/__pycache__
app/utils/__pycache__
app/serializers/__pycache__
app/serializers/resources/__pycache__
app/dataframes/__pycache__
app/dataframes/resources/__pycache__
app/api/__pycache__
client/__pycache__
